<%= form_with(model: elevator, local: true) do |form| %>
  <% if elevator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elevator.errors.count, "error") %> prohibited this elevator from being saved:</h2>

      <ul>
      <% elevator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :needs %>
    <label>どんなニーズ、課題に対応する？</label>
    <%= form.text_field :needs %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <label>顧客、ターゲットは誰？</label>
    <%= form.text_field :client %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <label>プロダクト名称は？</label>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <label>プロダクトのカテゴリは？どのジャンルに属する？</label>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <label>ユーザーが得られる価値は？なぜそのアプリを使用する？</label>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :conflict %>
    <label>競合しているアプリ、ソフトは？</label>
    <%= form.text_field :conflict %>
  </div>

  <div class="field">
    <%= form.label :difference %>
    <label>競合との差別化している部分は？このプロフダクトにしかないものは？</label>
    <%= form.text_field :difference %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
