<p id="notice"><%= notice %></p>

<ul>
  <li>
    [ <%= @elevator.needs %> ]したい
  </li>
  <li>
    [ <%= @elevator.client %> ]向けの、
  </li>
  <li>
    [ <%= @elevator.product_name %> ]というプロダクトは、
  </li>
  <li>
    [ <%= @elevator.category %> ]です。
  </li>
  <li>
    これは[ <%= @elevator.value %> ]ができ、
  </li>
  <li>
    [ <%= @elevator.conflict %> ]とは違って、
  </li>
  <li>
    [ <%= @elevator.difference %> ]が備わっている。
  </li>
</ul>

<%= link_to 'Edit', edit_elevator_path(@elevator) %> |
<%= link_to 'Back', elevators_path %>
